# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug info
*.dSYM

# Code completion hints
.clang_complete

# SCons working data
.sconf_temp
.sconsign.dblite
config.log
config.py

# OS X
.DS_Store
